test.jl
test.R
test_toml
factor_comparisons.png
Check With R.jl
/R
/data
BayesianFactorZoo.pdf
The Journal of Finance - 2022 - BRYZGALOVA - Bayesian Solutions for the Factor Zoo  We Just Ran Two Quadrillion Models.pdf
docs/build
src/docstrings.jl